.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hidden {
    visibility: hidden;
}

.mainMenuScreen {
    display: block;
}

.gamePlayScreen {
    display: block;
}

.gameOverScreen {
    display: block;
}

