.screen {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
    visibility: hidden;
}

#videoOutput video{
    width: 400px;
}

.screen {
    display: block;
    position: fixed;
}


.word-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1rem;
  align-items: center;
}

.word-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.word-text span:first-child {
  font-weight: 600;
}

.word-text span:last-child {
  margin-left: 1rem;
}


.word-row:hover {
  background: #410b9f;
}

.word-row input[type="checkbox"] {
  pointer-events: none;
}